@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --amber: #FFBA5A;
  --amber-low-opacity: #FFBA5A0F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-amber: var(--amber);
  --font-display: var(--font-halant);
  --font-sans: var(--font-atkinson);
	--animate-spin-slow: spin 3s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
